.title {
	margin-bottom: 47px;
	font-weight  : 600;
	font-size    : 48px;
	line-height  : 20px;
	color        : #384758;
}

.title__info {
	margin-bottom: 31px;
	font-weight  : 400;
	font-size    : 18px;
	line-height  : 27px;
	text-align   : center;
	color        : #606F81;
}